#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/016/413/096/non_2x/herbal-minimalist-and-modern-banner-with-free-space-for-text-hand-painted-plants-branches-leaves-on-a-white-background-greenery-wedding-simple-horizontal-template-free-vector.jpg");
  background-color: #cccccc;
 }




