/* #root {
  --button-active: #815b94;
  --button-normal: #27013a;
  --green: #789e65;
  --white: #f6faf1;
}

.bills-main {
  margin: 80px auto;
  width: 1100px;
  height: 800px;
  max-width: 80%;
  max-height: 80%;
  background-color: var(--white);
  border: thick double #27013a;
}

.bills-header {
  display: flex;
  justify-content: space-around;
  background-color: var(--button-normal);
  color: var(--white);
}

.bills-content {
  display: grid;
  grid-template-columns: auto minmax(1, 16fr);
  list-style: none;
}

.bills-content > li {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
} */
