#root {
	--button-active: #815B94;
	--button-normal: #27013A;
	--green: #789E65;
	--white:#F6FAF1;
}

.bills-main {
	margin: 80px auto;
	width: 1100px;
	height: 800px;
	max-width: 80%;
	max-height: 80%;
	background-color: var(--white);
	border:thick double #27013A;
}

.bills-header {
	display: flex;
	justify-content: space-around;
	background-color: var(--button-normal);
	color: var(--white);
}

.bills-content {
	display: grid;
	grid-template-columns: auto minmax(1, 16fr);
	list-style: none;

}

.bills-content > li {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
